@font-face {
    font-family: 'Shabnam';
    src:font-url('Shabnam.eot?-syv14m');
    src:font-url('Shabnam.eot?#iefix-syv14m') format('embedded-opentype'),
      font-url('Shabnam.woff?-syv14m') format('woff'),
      font-url('Shabnam.ttf?-syv14m') format('truetype');
    font-weight: normal;
    font-style: normal;
}
